*{margin:0; padding: 0; box-sizing: border-box;}

/*Aqui vamos trabalhar o cabeçalho*/
header{
    background-color:#0000ff;
    color:#fff;
    padding: 10px;
    text-align: center;
    border-bottom: 5px solid #4104dc;

}

/*Aqui vamos trabalhar main galeria de produtos*/
.container{
    background-color: #eee;
    min-height: 30vh;
    padding: 30px;
}

/*Aqui nos vamos trabalhar os tenis */
.card{
    width: 31%;
    display: inline-block;
    margin: 1%; 1%;
    padding:15px
    margin-bottom: 10px;
}

/*Trabalhando as imagens*/
.product-image{
    height: 300px;
    width: 100%;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}
#mclaren{
    background-image: url('../img/mclaren.jpg');
}
#bmwi8{
    background-image:url(../img/bmwi8.webp);
}

#volvoex90{
    background-image: url(../img/volvoex90.jpg);
}
#bugatti{
    background-image: url('../img/bugatti.jpg');
}#tesla{
    background-image: url('../img/Tesla.jpg');
}
#rollsroyce{
    background-image: url('../img/rollsroyce.webp');
}
/*Aqui vamos trabalhar as fontes*/ 
h3{
    margin-bottom: 10px;
    color: #260ce8;
    border-left:5px solid #0871f0;
    padding-left: 7px;
    font-size: 24px;
}

.bold{
    font-weight: bold;
}
/*Aqui vamos trabalhar o rodape*/
footer{
    background-color: #18149c;
    color: #eee;
    border-top: 3px;
    padding: 3px;
}
/*Aqui vamos trabalhar os botoes "comprar"*/
.btn{
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #1c0df3;
    color: #eee;
    padding: 15px;
    border: radius 5px;
    transition:5s;
}

/*Btn hover na hora que passa o mouse em cima ele faz uma animação de trocar a cor*/ 
.btn:hover{
    background-color: #040470;
}